<!DOCTYPE html>
<html>
  <head>
    <title>Skyum</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render(Header::StickyComponent.new(klass: "sticky top-0 shadow-xl flex flex-row items-center justify-between")) do %>
      <div class="flex flex-row items-center">
        <%= render(ButtonComponent.new(button_class: nil)) { render(Icon::Bars3Component.new) } %>
        <%= render(Form::SearchComponent.new) %>
      </div>
      <div>2</div>
      <div>3</div>
    <% end %>
    <%= render(Icon::SearchComponent.new) %>
    <button class="bg-red-500 peer">Test 1</button>
    <div class="bg-green-500 hidden peer-focus:flex">test 2</div>
    <main>
      <%= yield %>
    </main>
    <%= render(Footer::DefaultComponent.new) %>
  </body>
</html>
